/** Extra small devices (phones, 600px and down) *!*/

@media only screen and (max-width: 600px) {
    .total1{
        height: 100%;
        width: 100%;
        background: url("bg.svg") no-repeat;
        background-size: cover;
        background-position: 40% 50% !important;
    }
    .nuvemnext{
        width: 60px;
        bottom: 40px;
        z-index: 1;
    }
    .guia{
        bottom: 60px;
    }
    .area2{
         height: 100%;
         background: url("bgm2.svg") no-repeat;
        background-size: cover;
        background-position: 20% 60% !important;
     }
    .area3{
        height: 100%;
        background: url("bgm3.svg") no-repeat;
        background-size: cover;
        background-position: center !important;
    }
    .logoufc{
        width: 120px;
        webkit-filter: drop-shadow(6px 6px 5px rgba(0,0,0,0.2));
        filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.15));
    }
    .logocc{
        width: 120px;
        webkit-filter: drop-shadow(6px 6px 5px rgba(0,0,0,0.2));
        filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.15));
    }
    .area4{
        height: 200%;
        background: url("bgm4.svg") no-repeat;
        background-size: cover;
        background-position: center !important;
    }

    .personagem{
        width: 150px;
    }
    .balaotop{
        display: none;
        cursor: pointer;
        width: 10%;
        bottom: 20px;
        right: 20px;
        webkit-filter: drop-shadow(6px 6px 5px rgba(0,0,0,0.2));
        filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.15));
        z-index: 5000;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .total1{
        height: 100%;
        width: 100%;
        background: url("bg.svg") no-repeat;
        background-size: cover;
        background-position: center 70%;
    }
    .nuvemnext{
        width: 100px;
        bottom: 40px;
        z-index: 1;
    }
    .area2{
        height: 100%;
        background: url("bgm2.svg") no-repeat;
        background-size: cover;
        background-position: top;
    }
    .area3{
        height: 100%;
        background: url("bgm3.svg") no-repeat;
        background-size: cover;
        background-position: center;
    }
    .logoufc{
        width: 240px;
        webkit-filter: drop-shadow(6px 6px 5px rgba(0,0,0,0.2));
        filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.15));
    }
    .logocc{
        width: 240px;
        webkit-filter: drop-shadow(6px 6px 5px rgba(0,0,0,0.2));
        filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.15));
    }
    .area4{
        height: 200%;
        background: url("bgm4.svg") no-repeat;
        background-size: cover;
        background-position: center !important;
    }
    .eu-p1{
        font-size: 120%;
    }
    .eu-p2{
        font-size: 150%;
    }
    .personagem{
        width: 150px;
    }
    .balaotop{
        display: none;
        cursor: pointer;
        width: 10%;
        bottom: 20px;
        right: 20px;
        webkit-filter: drop-shadow(6px 6px 5px rgba(0,0,0,0.2));
        filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.15));
        z-index: 5000;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .area2{
        height: 100%;
        background: url("bgeg2.svg") no-repeat;
        background-size: cover;
        background-position: 60%;
    }
    .area3{
        height: 100%;
        background: url("bg3.svg") no-repeat;
        background-size: cover;
        background-position: center;
    }
    .logoufc{
        width: 240px;
        webkit-filter: drop-shadow(6px 6px 5px rgba(0,0,0,0.2));
        filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.15));
    }
    .logocc{
        width: 240px;
        webkit-filter: drop-shadow(6px 6px 5px rgba(0,0,0,0.2));
        filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.15));
    }
    .area4{
        height: 200%;
        background: url("bgm4.svg") no-repeat;
        background-size: cover;
        background-position: center !important;
    }

    .eu-p1{
        font-size: 150%;
    }
    .eu-p2{
        font-size: 150%;
    }
    .personagem{
        width: 300px;
    }
    .balaotop{
        display: none;
        cursor: pointer;
        width: 5%;
        bottom: 20px;
        right: 20px;
        webkit-filter: drop-shadow(6px 6px 5px rgba(0,0,0,0.2));
        filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.15));
        z-index: 5000;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .eu-p1{
        font-size: 150%;
    }
    .eu-p2{
        font-size: 150%;
    }
    .personagem{
        width: 300px;
    }
    .balaotop{
        display: none;
        cursor: pointer;
        width: 5%;
        bottom: 20px;
        right: 20px;
        webkit-filter: drop-shadow(6px 6px 5px rgba(0,0,0,0.2));
        filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.15));
        z-index: 5000;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}